<footer>
  <div class="redeSenha">
      <h1>Redefinir Senha</h1>

      <form class="redeSenh" action="escoLog.html" method="get">

          <label class="dadoRedSenh" for="email">E-mail</label>
          <input type="email" name="email" class="lp" id="email" placeholder="Digite seu e-mail" required>
          <br><br>

          <input type="submit" class="bttES" id="bttCancelar" value="Cancelar" (click)="cancelar()" >

          <input type="submit" class="bttES" id="bttEnviar" value="Enviar" (click)="enviar()" >
      </form>
  </div>
</footer>
