.redeSenha{
  color: aliceblue;
  text-align: center;
  margin: 20px;
  margin-top: 160px;
}
.dadoRedSenh{
  display:grid;
  font-size: 25px;
}

.bttES{
  font-size: 20px;
  width: 100px;
  height: 34px;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}

.lp{
  width: 160px;
  height: 20px;
  border: none;
  border-radius: 5%;
}

#bttCancelar{
  margin-left: -25px;
}

#bttEnviar{
  margin-left: 20px;
}
