<main class="corpInf">
  <h2>Controlar Receita</h2>
  <form (ngSubmit)="cadastrar()" #receitaForm="ngForm">
    <div class="container">
      <div class="gps-informacoes" id="gp-1">
        <label class="infs">Codigo Receita</label>
        <input type="text" class="criarDado" [(ngModel)]="receita.codReceita" name="codReceita" required>
        <br>
        <label class="infs">Nome Paciente</label>
        <input type="text" class="criarDado" [(ngModel)]="receita.nomePaciente" name="nomePaciente" required>
        <br>
        <label class="infs">Nome do Medico</label>
        <input type="text" class="criarDado" [(ngModel)]="receita.nomeMedico" name="nomeMedico" required>
        <br>

        <div class="mudLug">
          <label class="infsExe">Prescricao</label>
          <input type="text" class="criarDado" [(ngModel)]="receita.prescricao" name="prescricao" required>
        </div>
      </div>

      <div class="gps-informacoes" id="gp-2Rece">
        <label class="infs">Data de Emissao</label>
        <input type="date" class="criarDado" [(ngModel)]="receita.dataEmissao" name="dataEmissao" required>
        <br>
        <label class="infs">Validade</label>
        <input type="date" class="criarDado" [(ngModel)]="receita.dataValidade" name="dataValidade" required>
        <br>
        <label class="infs">CRM do Medico</label>
        <input type="text" class="criarDado" [(ngModel)]="receita.crm" name="crm" required>
      </div>
    </div>

    <button type="submit" class="bttCadastrar" [disabled]="!receitaForm.valid">Cadastrar</button>
  </form>
</main>
