<main class="corpInf">
  <h2>Cadastrar Serviços</h2>
  <form (ngSubmit)="cadastrar()">
    <div class="container">
      <div class="gps-informacoes" id="gp-1">
        <label class="infs">Nome</label>
        <input type="text" class="criarDado" required [(ngModel)]="servico.nome" name="nome">
        <br>
        <label class="infs">Descrição</label>
        <input type="text" class="criarDado" required [(ngModel)]="servico.descricao" name="descricao">
        <br>
        <label class="infs">Duração</label>
        <input type="time" class="criarDado" required [(ngModel)]="servico.tempo" name="tempo">
      </div>

      <div class="gps-informacoes" id="gp-2Serv">
        <label class="infs">Preço</label>
        <input type="text" class="criarDado" required [(ngModel)]="servico.pagamento" name="pagamento">
        <br>
        <label class="infs">Categoria</label>
        <input type="text" class="criarDado" required [(ngModel)]="servico.categoria" name="categoria">
        <br>
        <label class="infs">Profissionais</label>
        <select class="criarDado" [(ngModel)]="servico.profissionais" name="profissionais" required>
          <option *ngFor="let profissional of profissionais" [value]="profissional.id">{{ profissional.nome }}</option>
        </select>
      </div>
    </div>
    <button type="submit" class="bttCadastrar">Cadastrar</button>
  </form>
</main>
