<main class="corpInf">
  <h2>Cadastrar Fornecedores</h2>
  <form  action="home.html" method="get">
<div class="container">
     <div class="gps-informacoes" id="gp-1">
          <label class="infs">Nome</label>
          <input type="text" class="criarDado" required>
          <br>
          <label class="infs">Endereco </label>
          <input type="text" class="criarDado" required>
          <br>
          <label class="infs">Email</label>
          <input type="text" class="criarDado" required>
          <br>
          <label class="infs">Pagamento </label>
          <input type="text" class="criarDado" required>
      </div>

      <div class="gps-informacoes" id="gp-2Forn">
          <label class="infs">CNPJ</label>
          <input type="text" class="criarDado" required>
          <br>
          <label class="infs">Telefone </label>
          <input type="text" class="criarDado" required>
          <br>
          <label class="infs">Produtos Fornecidos</label>
          <input type="text" class="criarDado" required>
          <br>
          <label class="infs">Codigo </label>
          <input type="text" class="criarDado" required>
      </div>
</div>
      <button type="submit" value="Cadastrar" class="bttCadastrar" (click)="voltar()" >Cadastrar</button>

  </form>
</main>
