<footer class="footer-content">
  <img class="iconPerf" src="../../../assets/imgs/perfil.png" width="80px" (click)="perfil()">

  <!-- <form action="/button" method="get" class="footer-content"> -->
      <!-- <div class="footer-content"> -->
          <div id="gps-btt" class="button-group1">
              <h2 id="h2Home" class="CadHome">Cadastrar</h2>
              <input type="button" (click)="func()" id="bttHome" class="cads" value="Funcionario" >
              <input type="button" (click)="prod()" id="bttHome" class="cads" value="Produto">
              <input type="button" (click)="serv()" id="bttHome" class="cads" value="Servicos">
              <input type="button" (click)="fornc()" id="bttHome" class="cads" value="Fornecedores">
              <input type="button" (click)="clien()" id="bttHome" class="cads" value="Clientes">
          </div>

          <div id="gps-btt" class="button-group2">
              <h2 id="h2Home" class="ContHome">Controle</h2>
              <input type="button" (click)="esto()" id="bttHome" class="conts" value="Estoque" >
              <input type="button" (click)="recei()" id="bttHome" class="conts" value="Receitas " >
              <input type="button" (click)="ped()" id="bttHome" class="conts" value="Pedidos" >
          </div>

          <div id="gps-btt" class="button-group3">
              <h2 id="h2Home" class="RegsHome">Registro</h2>
              <input type="button" (click)="vend()" id="bttHome" class="regs" value="Vendas">
              <input type="button" (click)="relat()" id="bttHome" class="regs" value="Relatorio">
          </div>


          <div id="gps-btt" class="button-group4">
              <h2 id="h2Home" class="HistHome">Historico</h2>
              <input type="button" (click)="notFisc()" id="bttHome" class="hist" value="Nota Fiscal">
              <input type="button" (click)="histVend()" id="bttHome" class="hist" value="Historico de Vendas">
              <input type="button" (click)="histPed()" id="bttHome" class="hist" value="Historico de Pedidos">
          </div>
      <!-- </div> -->
  <!-- </form> -->
</footer>
