<footer class="corpInf">
  <h2>Cadastrar Funcionario</h2>
  <form  action="home.html" method="get">
<div class="container">
     <div class="gps-informacoes" id="gp-1">
         <label class="infs">Nome</label>
         <input type="text" class="criarDado" required>
         <br>
         <label class="infs">CPF </label>
         <input type="text" class="criarDado" required>
      </div>

      <div class="gps-informacoes" id="gp-2">
          <label class="infs">Servico </label>
          <input type="text" class="criarDado" required>
          <br>
          <label class="infs">Senha </label>
          <input type="text" class="criarDado" required>
      </div>
</div>
      <button type="submit" value="Cadastrar" class="bttCadastrar" (click)="voltar()" >Cadastrar</button>

  </form>
</footer>
