<footer class="corpInf">
  <h2>Cadastrar Produtos</h2>
  <form  action="home.html" method="get">
<div class="container">
     <div class="gps-informacoes" id="gp-1Prod">
          <label class="infs">Nome</label>
          <input type="text" class="criarDado" required>
          <br>
          <label class="infs">Validade </label>
          <input type="text" class="criarDado" required>
          <br>
          <label class="infs">Data de Fabricacao</label>
          <input type="text" class="criarDado" required>
          <br>
          <label class="infs">Quantidade </label>
          <input type="text" class="criarDado" required>
          <br>
          <label class="infs">Receita Medica</label>
          <input type="text" class="criarDado" required>
      </div>

      <div class="gps-informacoes" id="gp-2Prod">
          <label class="infs">Descricao</label>
          <input type="text" class="criarDado" required>
          <br>
          <label class="infs">Codigo </label>
          <input type="text" class="criarDado" required>
          <br>
          <label class="infs">Valor</label>
          <input type="text" class="criarDado" required>
          <br>
          <label class="infs">Lote </label>
          <input type="text" class="criarDado" required>
          <br>
          <label class="infs">Categotia </label>
          <input type="text" class="criarDado" required>
      </div>

    </div>
    <button type="submit" value="Cadastrar" class="bttCadastrar" (click)="voltar()" >Cadastrar</button>
  </form>
</footer>
