.corpInf{
  text-align: center;
  font-size: 15;
  color: aliceblue;
}

.gps-informacoes{
  display: flex;
  flex-direction: column;
  width: 200px;
}

h2{
  margin-top: 150px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 20px;
  margin-top: 40px;
}

/* #gp-1Prod{
  margin-left: 720px;
  margin-top: 140px;
} */

#gp-2{
  margin-left: 40px;
}

.criarDado{
  height: 25px;
  border-radius: 5px;
  border: none;
}

.mudLug{
  margin-left: 130px ;
}

.infs{
  display: flex;
}

.bttCadastrar{
  margin-top: 80px;
  font-size: 15px;
  width: 130px;
  height: 34px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
