<main class="corpInf">
  <h2>Controlar Pedido</h2>
  <form  action="home.html" method="get">
<div class="container">
     <div class="gps-informacoes" id="gp-1">
          <label class="infs">Data do Pedido </label>
          <input type="text" class="criarDado" required>
          <br>
          <label class="infs"> Produto </label>
          <input type="text" class="criarDado" required>
          <br>
          <label class="infs">Statu do Produto</label>
          <input type="text" class="criarDado" required>
          <br>
          <label class="infs">Valor Unitario</label>
          <input type="text" class="criarDado" required>
          <br>

              <div class="mudLug">
                  <label class="infsExe">Responsavel </label>
                  <input type="text" class="criarDado" required>
              </div>
      </div>

      <div class="gps-informacoes" id="gp-2Pedi">
          <label class="infs">Fornecedor  </label>
          <input type="text" class="criarDado" required>
          <br>
          <label class="infs">Quantidade Pedida </label>
          <input type="text" class="criarDado" required>
          <br>
          <label class="infs">Data de Entrega</label>
          <input type="text" class="criarDado" required>
          <br>
          <label class="infs">Valor Total</label>
          <input type="text" class="criarDado" required>
      </div>
</div>
      <button type="submit" value="Cadastrar" class="bttCadastrar" (click)="voltar()" >Cadastrar</button>

  </form>
</main>
